*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

$primary-color: black;
$padding: 3rem 10rem;
$font-size-text: 1rem;
$font-size-heading: 4rem;
$image-containing-height:42rem;

@mixin verticalText {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-size: 1rem;
}


@mixin flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}

.home-magazine{
    @include flexCenter();
    justify-content: flex-start;
    padding: $padding;
    padding-bottom: 0rem;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.heading-text{
    display: flex;
    justify-content: space-between;
    width: 100%;

}
.heading-text .heading-text-1{
    font-size: $font-size-heading;
    justify-items: center;
    align-self: flex-end;
}
.heading-text .heading-text-2{
    display: flex;
    flex-direction: column;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-size: $font-size-text;
}
.heading-text .heading-text-2 > div{
    margin-left: 0.3rem;
    width: 0.4rem;
    height: 3.3rem; 
    background-color: rgb(240, 159, 105);
    align-self: flex-start;
    border-radius: 3px;
}
.home-container .date{
    margin-top: 1rem;
    font-size: 1.3rem;
    color: grey;
}

.image-container
{
    @include flexCenter();
    margin-top: 3rem;
    justify-content: space-between;
    width: 100%;
}

.image-container .text-container{
    margin-right: 3rem;
    height: $image-containing-height - 2;
    @include flexCenter();
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    text-justify: inter-word; 
    font-size: $font-size-text;
}

.image-container .text-container-1{
    
    @include verticalText();
    
}

.image-container .color-block-1{
    margin: 2rem 0rem;
    height: 0.9rem;
    width: 5.3rem;
    background-color: rgb(240, 159, 105);
    align-self: flex-start;
    border-radius: 3px;

}

.image-container .text-container-2{
    
    @include verticalText();
}

.image-containing{
    width: 100rem;
    height: $image-containing-height;
    background: no-repeat url(../Mountains.jpg);
    background-size: cover;
    position: relative;
    left: 10rem;
}
